body{
  background-color: #9235A4;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 600;
  color:white;
  margin:0px;
  
}
.left{
  width: 30%;
  background-color: white;
  float: left;
  height: 100vh;
}
.right{
  width: 70%;
  float: right;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header{
    font-size: 56px;
    margin-top: 20px;
    height: 15vh;
  }
  .sub-title{
    font-size: 16px;
    height: 20vh;

}
  .svg-denebi{
    margin-top: 150px;
    height: 42vh;
    object-fit: contain;
  }
  .svg-navi{
    height: 60vh;
    padding-inline: 30px;
  }
  .button-container{
    display: table;
    margin: 0 auto;
    padding:10px;
    height: 45vh;

  }
  .button{
    outline: solid white;
    outline-offset:6px; 
    border-radius: 50px;
    width: 160px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .dot-l{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:5px;   
    margin-top: 4px;
    margin-left: 5px;
  }
  .dot-r{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:4px;   
    margin-top: 4px;
    margin-right: 5px;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 80px;
    width: 80px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .header{
    font-size: 72px;
    margin-top: 20px;
    height: 15vh;
  }
  .sub-title{
    font-size: 24px;
    height: 20vh;

}
  .svg-denebi{
    height: 42vh;
    object-fit: contain;
  }
  .svg-navi{
    height: 60vh;
    padding-inline: 30px;
  }
  .button-container{
    display: table;
    margin: 0 auto;
    padding:10px;
    height: 45vh;

  }
  .button{
    outline: solid white;
    outline-offset:5px; 
    border-radius: 50px;
    width: 200px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .dot-l{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:5px;   
    margin-top: 8px;
    margin-left: 6px;
  }
  .dot-r{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:4px;   
    margin-top: 8px;
    margin-right: 6px;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 0px;
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 80px;
    width: 80px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  .header{
    font-size: 64px;
    margin-top: 20px;
    height: 15vh;
  }
  .sub-title{
    font-size: 20px;
    height: 20vh;

}
  .svg-denebi{
    margin-top: 100px;
    height: 42vh;
    object-fit: contain;
  }
  .svg-navi{
    padding-inline: 30px;
  }
  .button-container{
    display: table;
    margin: 0 auto;
    padding:10px;
    height: 45vh;

  }
  .button{
    outline: solid white;
    outline-offset:5px; 
    border-radius: 50px;
    width: 190px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .dot-l{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:5px;   
    margin-top: 8px;
    margin-left: 6px;
  }
  .dot-r{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:4px;   
    margin-top: 8px;
    margin-right: 6px;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-bottom: 0px;
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 80px;
    width: 80px;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
  .header{
    font-size: 72px;
    margin-top: 20px;
    height: 15vh;
    
  }
  .sub-title{
    font-size: 24px;
    height: 20vh;

}
  .svg-denebi{
    margin-top: 80px;
    height: 42vh;
    object-fit: contain;
  }
  .svg-navi{
    height: 60vh;
    padding-inline: 30px;
  }
  .button-container{
    display: table;
    margin: 0 auto;
    padding:10px;
    height: 45vh;

  }
  .button{
    outline: solid white;
    outline-offset:5px; 
    border-radius: 50px;
    width: 200px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .dot-l{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:5px;   
    margin-top: 8px;
    margin-left: 6px;
  }
  .dot-r{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:4px;   
    margin-top: 8px;
    margin-right: 6px;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 0px;
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 80px;
    width: 80px;
}
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  
  .header{
    font-size: 72px;
    margin-top: 20px;
    height: 15vh;
  }
  .sub-title{
    font-size: 24px;
    height: 20vh;

}
  .svg-denebi{
    height: 42vh;
    object-fit: contain;
  }
  .svg-navi{
    height: 60vh;
    padding-inline: 30px;
  }
  .button-container{
    display: table;
    margin: 0 auto;
    padding:10px;
    height: 45vh;

  }
  .button{
    outline: solid white;
    outline-offset:5px; 
    border-radius: 50px;
    width: 200px;
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .dot-l{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:5px;   
    margin-top: 8px;
    margin-left: 6px;
  }
  .dot-r{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:4px;   
    margin-top: 8px;
    margin-right: 6px;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 0px;
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 80px;
    width: 80px;
}
}
/* 4K */
@media only screen and (min-width: 1440px) {
  
  .header{
    font-size: 130px;
    margin-top: 20px;
    height: 20vh;
  }
  .sub-title{
    font-size: 32px;
    height: 20vh;

}
  .svg-denebi{
    height: 42vh;
    object-fit: contain;
  }
  .svg-navi{
    height: 60vh;
    padding-inline: 30px;
  }
  .button-container{
    display: table;
    margin: 0 auto;
    padding:10px;
    height: 40vh;

  }
  .button{
    outline: solid white;
    outline-offset:7px; 
    border-radius: 50px;
    width: 260px;
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .dot-l{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:7px;   
    margin-top: 11px;
    margin-left: 6px;
  }
  .dot-r{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid white;
    outline-offset:7px;   
    margin-top: 11px;
    margin-right: 6px;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    margin-bottom: 0px;
  }
  
  .footer {
    clear: both;
    position: relative;
    height: 150px;
    width: 150px;
}
}