body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:white;
    margin:0px;
    background-color: #524091;
    overflow-y: hidden;
    overflow-x: hidden;
}
.left{
    background-color: white;

}
.right{
    background-color: #524091;
    height: 100vh;

}
.header{
    font-size: 10vh;
    margin-top: 2vh;
    height: 15vh;
}
.sub-title{
    font-size: 3vh;
    height: 20vh;
}
.button-container{
    display: table;
    margin: 0 auto;
    padding:1vh;
    height: 45vh;
  }
  .button-container1{
    display: table;
    margin: 0 auto;

  }
  .button{
    border: solid 0.3vh white;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-inline: 1vh;
    border-radius: 5vh;
    margin-bottom: 3vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: 1s;
  }
  .button:hover{
    border: solid 0.3vh #F7D713;
    background-color: #F7D713;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-inline: 1vh;
    border-radius: 5vh;
    margin-bottom: 3vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .button:hover .dot-l{
    opacity:0;
    transition: 1s;

  }
  .button:hover .dot-r{
    opacity:0;
    transition: 1s;
}
  .single-button{
    display: table;
    margin: 0 auto;
    border: 1px solid #F7D713;
    padding-inline: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #F7D713;
    border-radius: 5vh;
    font-size: 2vh;
    cursor: pointer;

  }
  .dot-l{
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 5vh;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid 0.3vh white;
    outline-offset:0.6vh;
    margin-top: 0.7vh;
  }
  .dot-r{
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 5vh;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    outline: solid 0.3vh white;
    outline-offset:0.6vh;
    margin-top: 0.7vh;
  }
  .button-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 2vh;
    margin-bottom: 0px;
    margin-inline: 2vh;
  }
  .footer {
    clear: both;
    position: relative;
    width: 15vh;
}

.emoji{
    height: 15vh;
    width: 15vh;
margin-top: 5vh;
}
.main-text{
font-size: 3vh;
height: 43vh;
}
.img-container{
margin-left: 2vh;
margin-top: 15vh;
}
.friendly-logo{
  width: 40vh;
}
.denebi-logo{
  width: 40vh;
  margin-bottom: 20vh;

}
.demo{
  display: none;
}
.navi-logo{
  width: 40vh;
}
.phonescreen{
 display: none; 
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  html {
    scroll-behavior: smooth;
    
  }
.left{
    height: 100vh;
  }
.right{
height: 100vh;
}
.header{
    font-size: 7vh;
    margin-top: 4vh;
    height: 15vh;
}
.sub-title{
    font-size: 3vh;
    height: 18vh;
    margin-inline: 2vh;

}
.img-container {
  margin-bottom: 1vh;
  margin-top: 1vh;
  outline:none;
    cursor:pointer;
}
.img-container img{
}
.friendly-logo{
  width: 40vh;
  margin-left: 4vh;
}
.denebi-logo{
  width: 40vh;
  margin-left: 4vh;
margin-top: 10vh;
margin-bottom: 10vh;
}
.main-text{
  font-size: 2vh;
  }
.button-container1{
  margin-bottom: 2vh;
}
.mobil-left{
  display: none;
}
.button-container{
  margin-top: 10vh;
}
.text-content{
  margin-inline: 3vh;
  height: 35vh;
  font-size: 2vh;
}

/* --------------- scroll down icon -------------- */
.demo{
  display: block;
  margin-top: 3vh;

}
.demo a {
  position: absolute;
  left: 22vh;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  color:#524091;
  margin-top: 7vh;
}
.demo a:hover {
  opacity: .5;
}
#section04 a {
  padding-top: 60px;
  color: #524091;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #524091;
  border-bottom: 1px solid #524091;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  color: #524091;

}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* ---------------- Kampanya Ekranı ----------------- */
.phone{
  width: 40vh;
  height:55vh;
  background-color: white;
  display: inline-block;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
  color: #524091;
  border: 2px solid #524091;
}

.not-phone{
  display: none;
}
.emoji{
  height: 10vh;
  width: 10vh;
  margin-top: 1vh;
}
.phonescreen{
display: block;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .phone{
        width: 40vh;
        height:55vh;
        background-color: white;
        display: inline-block;
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        border-top-right-radius: 7vh;
        border-top-left-radius: 7vh;
        color: #524091;
    }
    .button-container1{
      margin-bottom: 3vh;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .phone{
        width: 40vh;
        height:75vh;
        background-color: white;
        display: inline-block;
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        border-top-right-radius: 7vh;
        border-top-left-radius: 7vh;
        color: #524091;
    }
    .img-container{
      margin-left: 14vh;
      margin-top: 15vh;
      }
      .friendly-logo{
        width: 45vh;
      }
      .denebi-logo{
        width: 45vh;
        margin-bottom: 23vh;
      }
      .navi-logo{
        width: 50vh;
        margin-left: -3vh;
      }
    .button-container1{
      margin-bottom: 5vh;
    }
    .text-content{
      height: 30vh;
      font-size: 3vh;
      margin-inline:3vh;
    }
    .button-container{
      display: table;
      margin: 0 auto;
      padding:1vh;
      height: 55vh;
    }
}
@media only screen and (min-width: 1440px) {
    .phone{
        width: 40vh;
        height:55vh;
        background-color: white;
        display: inline-block;
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        border-top-right-radius: 7vh;
        border-top-left-radius: 7vh;
        color: #524091;
    }
    .img-container{
      margin-left: 12vh;
      margin-top: 10vh;
      }
      .friendly-logo{
        width: 45vh;
      }
      .denebi-logo{
        width: 45vh;
        margin-bottom: 25vh;
      }
    .button-container1{
      margin-bottom: 3vh;
    }
    .text-content{
      height: 35vh;
      font-size: 3vh;
      margin-inline:2vh;
    }

}
.aws-btn {

  --button-default-height: 62px;
  --button-default-font-size: 18px;
  --button-default-border-radius: 2px;
  --button-horizontal-padding: 44px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: 0.175s;
  --button-primary-color: #f7d713;
  --button-primary-color-dark: #f7d713;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #fdc90d;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-border: none;
  }